@import "~src/app/styles/common";

$button-size: 60px;
$sp-copy-button-size: 30px;

.contents {
  background-color: rgb(255, 255, 255);
  max-width: 480px;
  width: 100%;
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 30px;
  padding: 16px 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $sm-mobile-breake-point) {
    max-width: 272px;
  }

  .message {
    color: $thema-color;
    font-size: 1.6em;
    font-weight: 500;
  }
}
