@import "~src/app/styles/common";
@import "~src/app/styles/page";

.contents .item {
  margin-bottom: 8px;
}

.label-text {
  color: $theme-color;
  border-bottom: solid black;
}

.form {
  min-width: 430px;
  max-width: 500px;
  width: 100%;

  @media (max-width: $mobile-breake-point) {
    min-width: 300px;
  }
}

.full-width {
  width: 100%;
}

.download-button {
  height: $button-size;
  width: $button-size;
}

button:disabled {
  opacity: 0.5;
}

.download-icon {
  color: $theme-color;
  line-height: $button-size;
  font-size: $button-size;
  height: $button-size;
  width: $button-size;
}

.contents .error-title {
  font-size: 1.5em;
  color: tomato;
}

a.clickable {
  color: $theme-color;
  cursor: pointer;
  text-decoration: underline;
}
