<div class="page-wrapper">
  <div class="contents">
    <div class="message item" role="message">Download file!</div>
    <div class="item">
      <form class="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label class="label-text">CID*</mat-label>
          <input
            matInput
            [formControl]="cidFormControl"
            placeholder="Ex. Qm*****"
          />
          <mat-error *ngIf="cidFormControl.hasError('required')">
            CID is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              cidFormControl.hasError('minlength') ||
              cidFormControl.hasError('maxlength')
            "
          >
            Please enter a valid CID
          </mat-error>
          <mat-hint> Input CID of the file. </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label class="label-text">File name</mat-label>
          <input
            matInput
            [formControl]="fileNameFormControl"
            placeholder="Ex. cat.jpeg"
          />
          <mat-error *ngIf="fileNameFormControl.hasError('maxlength')">
            Too long file name.
          </mat-error>
          <mat-hint> Input file name if you know. </mat-hint>
        </mat-form-field>
      </form>
    </div>
    <ng-container *ngIf="loading">
      <div class="item"><mat-spinner [diameter]="20"></mat-spinner></div>
    </ng-container>
    <ng-container *ngIf="showDownloadButton">
      <div class="item">
        <button
          mat-icon-button
          class="download-button"
          aria-label="file upload icon-button"
          (click)="onDownloadButtonClick()"
          [disabled]="downloaded"
        >
          <mat-icon class="download-icon">download</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="downloaded">
      <a class="clickable" (click)="onReDownloadButtonClick()"
        >Download again</a
      >
    </ng-container>
    <ng-container *ngIf="isError">
      <div class="item error-title">Error!</div>
      <div class="item error-message">{{ errorMessage }}</div>
    </ng-container>
  </div>
</div>
