<div class="page-wrapper">
  <div class="contents">
    <div class="message item" role="message">Upload file!</div>
    <div class="item">
      <button
        mat-icon-button
        class="upload-button"
        aria-label="file upload icon-button"
        (click)="onUploadButtonClick()"
      >
        <mat-icon class="upload-icon">file_upload</mat-icon>
      </button>
    </div>
    <div class="item">{{ fileName }}</div>
    <div *ngIf="cid" class="item copy-parent">
      <div class="copy-value"><span class="key">CID: </span>{{ cid }}</div>
      <div>
        <button
          mat-icon-button
          class="copy-button"
          aria-label="button to copy CID"
          [cdkCopyToClipboard]="cid"
        >
          <mat-icon class="copy-icon">content_copy</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="downloadUrl" class="item copy-parent">
      <div class="copy-value">
        <span class="key">Download URL: </span>{{ downloadUrl }}
      </div>
      <div>
        <button
          mat-icon-button
          class="copy-button"
          aria-label="button to copy CID"
          [cdkCopyToClipboard]="downloadUrl"
        >
          <mat-icon class="copy-icon">content_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<input
  #file
  id="file"
  type="file"
  class="file-input"
  (change)="processFile(file)"
/>
