<div class="page-wrapper">
  <div class="contents">
    <div class="message item" role="message">Upload file!</div>
    <div class="item">
      <button
        mat-icon-button
        class="upload-button"
        aria-label="file upload icon-button"
        [disabled]="!isNodePrepared"
        (click)="onUploadButtonClick()"
      >
        <mat-icon class="upload-icon">file_upload</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="isError">
      <div class="item error-title">Error!</div>
      <div class="item error-message">{{ errorMessage }}</div>
    </ng-container>
    <div class="item">{{ fileName }}</div>
    <div *ngIf="cid" class="item copy-parent">
      <div class="copy-value"><span class="key">CID: </span>{{ cid }}</div>
      <div>
        <button
          mat-icon-button
          class="copy-button"
          aria-label="button to copy CID"
          [cdkCopyToClipboard]="cid"
          (click)="cidCopyButtonClick()"
        >
          <mat-icon class="copy-icon">content_copy</mat-icon>
          <app-msg-tip
            *ngIf="(handleCopyTip$ | async) === 'CID'"
            [message]="'copied!'"
          ></app-msg-tip>
        </button>
      </div>
    </div>
    <div *ngIf="downloadUrl" class="item copy-parent">
      <div class="copy-value">
        <span class="key">Download URL: </span>{{ downloadUrl }}
      </div>
      <div>
        <button
          mat-icon-button
          class="copy-button"
          aria-label="button to copy CID"
          [cdkCopyToClipboard]="downloadUrl"
          (click)="downloadUrlCopyButtonClick()"
        >
          <mat-icon class="copy-icon">content_copy</mat-icon>
          <app-msg-tip
            *ngIf="(handleCopyTip$ | async) === 'DOWNLOAD_URL'"
            [message]="'copied!'"
          ></app-msg-tip>
        </button>
      </div>
    </div>
    <ng-container *ngIf="loading">
      <div class="item"><mat-spinner [diameter]="20"></mat-spinner></div>
    </ng-container>
  </div>
</div>

<input
  #file
  id="file"
  type="file"
  class="file-input"
  (change)="processFile(file)"
/>
