@import "~src/app/styles/common";

$toolbar-height: 60px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(239, 239, 240);
  height: calc(100% - #{$toolbar-height});
}

.page-wrapper {
  margin-top: $toolbar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @media (max-width: $mobile-breake-point) {
    padding: 0 16px 0;
  }
}

a {
  outline: none;
  text-decoration: none;
}
